BODY {
	FONT-SIZE: 8pt; COLOR: #333333; LINE-HEIGHT: 11pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.text {
	FONT-SIZE: 7.5pt; COLOR: #333333; LINE-HEIGHT: 11pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.t_title {
	FONT-SIZE: 13pt; COLOR: #de513a; LINE-HEIGHT: 11pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.landingtext {
	FONT-SIZE: 8.5pt; COLOR: #666666; LINE-HEIGHT: 13pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.text A:link {
	FONT-SIZE: 7.5pt; COLOR: #002e45; LINE-HEIGHT: 11pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: underline
}
.text A:visited {
	FONT-SIZE: 7.5pt; COLOR: #002e45; LINE-HEIGHT: 11pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: underline
}
.text A:hover {
	FONT-SIZE: 7.5pt; COLOR: #002e45; LINE-HEIGHT: 11pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: none
}
.text A:active {
	FONT-SIZE: 7.5pt; COLOR: #002e45; LINE-HEIGHT: 11pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: none
}
.dropdown A:link {
	FONT-SIZE: 7pt; COLOR: #999999; LINE-HEIGHT: 9pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: none
}
.dropdown A:visited {
	FONT-SIZE: 7pt; COLOR: #999999; LINE-HEIGHT: 9pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: none
}
.dropdown A:hover {
	FONT-SIZE: 7pt; COLOR: #333333; LINE-HEIGHT: 9pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: none
}
.dropdown A:active {
	FONT-SIZE: 7pt; COLOR: #333333; LINE-HEIGHT: 9pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: none
}
.subnav A:link {
	FONT-SIZE: 7.5pt; COLOR: #999999; LINE-HEIGHT: 11pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: none
}
.subnav A:visited {
	FONT-SIZE: 7.5pt; COLOR: #999999; LINE-HEIGHT: 11pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: none
}
.subnav A:hover {
	FONT-SIZE: 7.5pt; COLOR: #3399cc; LINE-HEIGHT: 11pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: none
}
.subnav A:active {
	FONT-SIZE: 7.5pt; COLOR: #3399cc; LINE-HEIGHT: 11pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: none
}
.newstext {
	FONT-SIZE: 8pt; COLOR: #999999; LINE-HEIGHT: 10pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: none
}
.home {
	FONT-SIZE: 7.5pt; COLOR: #cccccc; LINE-HEIGHT: 11pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.home A:link {
	FONT-SIZE: 7.5pt; COLOR: #002e45; LINE-HEIGHT: 11pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: underline
}
.home A:visited {
	FONT-SIZE: 7.5pt; COLOR: #002e45; LINE-HEIGHT: 11pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: underline
}
.home A:hover {
	FONT-SIZE: 7.5pt; COLOR: #0f4865; LINE-HEIGHT: 11pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: underline
}
.home A:active {
	FONT-SIZE: 7.5pt; COLOR: #0f4865; LINE-HEIGHT: 11pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: underline
}
.footertext {
	FONT-SIZE: 7pt; COLOR: #0c5071; LINE-HEIGHT: 13pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: none
}
.smalltext {
	FONT-SIZE: 7pt; COLOR: #333333; LINE-HEIGHT: 10pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: none
}
.home_footer A:link {
	FONT-SIZE: 7pt; COLOR: #f99ea3; LINE-HEIGHT: 13pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: none
}
.home_footer A:visited {
	FONT-SIZE: 7pt; COLOR: #f99ea3; LINE-HEIGHT: 13pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: none
}
.home_footer A:hover {
	FONT-SIZE: 7pt; COLOR: #ffffff; LINE-HEIGHT: 13pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: none
}
.home_footer A:active {
	FONT-SIZE: 7pt; COLOR: #ffffff; LINE-HEIGHT: 13pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: none
}
.home_app A:link {
	FONT-SIZE: 8pt; COLOR: #ffffff; LINE-HEIGHT: 13pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: none
}
.home_app A:visited {
	FONT-SIZE: 8pt; COLOR: #ffffff; LINE-HEIGHT: 13pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: none
}
.home_app A:hover {
	FONT-SIZE: 8pt; COLOR: #f99ea3; LINE-HEIGHT: 13pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: none
}
.home_app A:active {
	FONT-SIZE: 8pt; COLOR: #f99ea3; LINE-HEIGHT: 13pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: none
}
.home_footertext {
	FONT-SIZE: 7pt; COLOR: #ff6468; LINE-HEIGHT: 13pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: none
}
.header_prod {
	FONT-SIZE: 7pt; COLOR: #ffffff; LINE-HEIGHT: 9pt; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; BACKGROUND-COLOR: #de513a
}
.text_prod {
	FONT-SIZE: 7pt; COLOR: #333333; LINE-HEIGHT: 11pt; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
.ul {
	FONT-SIZE: 7.5pt; COLOR: #666666; LINE-HEIGHT: 11pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; LIST-STYLE-TYPE: square; size: 7pt
}
.ul_on {
	FONT-SIZE: 7.5pt; COLOR: #666666; LINE-HEIGHT: 11pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; LIST-STYLE-TYPE: square; size: 7pt
}
.ul_list {
	COLOR: #cdcdcd; LINE-HEIGHT: 1em; LIST-STYLE-TYPE: square; size: 7pt
}
.subnav_on A:link {
	FONT-SIZE: 7pt; COLOR: #003366; LINE-HEIGHT: 13pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: none
}
.subnav_on A:visited {
	FONT-SIZE: 7pt; COLOR: #003366; LINE-HEIGHT: 13pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: none
}
.subnav_on A:hover {
	FONT-SIZE: 7pt; COLOR: #003366; LINE-HEIGHT: 13pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: none
}
.subnav_on A:active {
	FONT-SIZE: 7pt; COLOR: #003366; LINE-HEIGHT: 13pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: none
}
.subnav_off A:link {
	FONT-SIZE: 8pt; COLOR: #ffffff; LINE-HEIGHT: 13pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: none
}
.subnav_off A:visited {
	FONT-SIZE: 8pt; COLOR: #ffffff; LINE-HEIGHT: 13pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: none
}
.subnav_off A:hover {
	FONT-SIZE: 8pt; COLOR: #eeeeee; LINE-HEIGHT: 13pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: none
}
.subnav_off A:active {
	FONT-SIZE: 8pt; COLOR: #eeeeee; LINE-HEIGHT: 13pt; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: none
}
.formpagebutton {
	BORDER-RIGHT: 1px; BORDER-TOP: 1px; FONT-SIZE: 9pt; BORDER-LEFT: 1px; BORDER-BOTTOM: 1px; FONT-FAMILY: arial; BACKGROUND-COLOR: #eeeeee; solid: #666666
}
A:active {
	FONT-SIZE: 7pt; COLOR: #cccccc; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: underline
}
A:link {
	FONT-SIZE: 7pt; COLOR: #cccccc; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: underline
}
A:visited {
	FONT-SIZE: 7pt; COLOR: #cccccc; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: underline
}
A:hover {
	FONT-SIZE: 7pt; COLOR: #eeeeee; FONT-FAMILY: Verdana, Arial, Helvetica, Swiss, SunSans-Regular; TEXT-DECORATION: underline
}
