vti_encoding:SR|utf8-nl
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP
vti_usagedownload:UX|0 0 0 0 0 0 608
vti_dependenciesood:IR|0
vti_webservertype:SR|diskweb
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_navbuttonnextlabel:SR|Next
vti_usagebyday:UX|0
vti_servertz:SX|-0500
vti_approvallevels:VR|Content\\ Review Legal\\ Review Code\\ Review Manager\\ Review Approved Denied Pending\\ Review
vti_usagehitsbyweek:UX|0
vti_usagehitsbymonth:UX|0 0 0 0 0 0 91
vti_usagevisitsbymonth:UX|0 0 0 0 0 0 18
vti_longfilenames:IX|1
vti_welcomenames:VX|index.htm index.html default.htm default.html welcome.htm welcome.html home.htm home.html
vti_oldestcompatibleversion:SR|2.0.0.0
vti_serverlanguages:VX|en-us
vti_restartmanual:IX|0
vti_usagebyweek:UX|0
vti_defaultlanguage:SR|en-us
vti_hasglobalasa:BR|false
vti_defaultcharset:SR|windows-1252
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_adminurl:SR|/_vti_bin/_vti_adm/fpadmdll.dll
vti_approvalapproved:SR|Approved
vti_approvaldenied:SR|Denied
vti_hassearchbot:BR|false
vti_autorecalc:IX|1
vti_htmlextensions:SX|.htm.html.shtml.shtm.stm.htt.htx.asp.alx.asa.
vti_usagelastupdated:TX|09 Apr 2006 03:59:59 -0000
vti_navbuttonhomelabel:SR|Home
vti_insecureserverurl:SR|file://
vti_disableautoimgsizeexts:SX|.asp
vti_servercharsets:VX|windows-1257 big5 windows-1252 windows-1254 iso-8859-2 iso-8859-15 windows-874 shift_jis utf-8 windows-1251 windows-1256 euc-kr gb2312 windows-1253 windows-1258 koi8-r iso-2022-jp ks_c_5601-1987 windows-1250 windows-1255 euc-jp unicode unicodeFFFE
vti_authpasswdurl:SR|/_vti_bin/_vti_adm/fpadmdll.dll?page=pwdmgr.htm&ReturnPage=home
vti_casesensitiveurls:IX|0
vti_httpdversion:SX|FrontPage DBW
vti_textextensions:SX|.txt.
vti_usagevisitsbyweek:UX|0
vti_usagevisitsbyday:UX|0
vti_navbuttonuplabel:SR|Up
vti_ignorekeyboard:IR|0
vti_usagefirstdata:TX|23 Oct 2005 01:13:38 -0000
vti_textindexood:IR|0
vti_timecreated:TR|10 Nov 2006 00:10:44 -0000
vti_extenderversion:SR|4.0.2.8912
vti_usagehitsbyday:UX|0
vti_navbuttonprevlabel:SR|Back
vti_usagebymonth:UX|0 0 0 0 0 0 18
